@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.content {
  @apply mx-auto max-w-7xl p-4 mt-4 bg-white
}

.input_field {
  @apply border p-1 w-full mt-2
}

.input_label {
  @apply block mb-5
}

.custom_button {
  @apply block bg-reebelo-blue p-2 rounded-md mt-2
}