@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.content {
  @apply mx-auto max-w-7xl p-4 mt-4 bg-white
}

.input_field {
  @apply border p-1 w-full mt-2 rounded-sm
}

.input_label {
  @apply block mb-5 text-sm
}

.custom_button {
  @apply block bg-black text-white py-2 px-4 rounded-md mt-2
  }
  
  .custom_button-outline {
    @apply block bg-white text-black outline outline-black py-2 px-4 rounded-md mt-2
  }
  
  .shift_up_card {
    @apply transform transition-transform duration-300 ease-in-out hover:-translate-y-2 cursor-pointer
}